<div class="d-flex justify-content-center align-content-center block-container" style="background: black;">
  <mat-card class="login-card">
    <mat-card-header class="justify-content-center">
      <mat-card-title class="mat-display-3 mt-3" style="font-size:36px; font-weight: 600">Try Alpha Saturn</mat-card-title>
      <mat-card-subtitle>Full Access. No Credit Card Required.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="p-4 mb-4" >
      <div class="example-container" >
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <br>
        <button mat-flat-button style="width: 100%;" color="primary">REGISTER</button>
      </div>
    </mat-card-content>
  </mat-card>
  <a routerLink="/sign-up" class="mt-5" style="margin: 0 auto; color:#808080; text-decoration: none; font-size:16px;">By signing up, you accept our
    <a routerLink="/terms-of-service" style="color:#ededed; text-decoration: none;">Terms of Service</a> and
    <a routerLink="/privacy-policy" style="color:#ededed; text-decoration: none;">Privacy Policy</a></a>
</div>
<app-footer></app-footer>
