<div style="background-color: #212121" class="p-4 d-flex align-items-center justify-content-center">
  <div class="p-4 mr-5">
    <div class="d-flex align-items-center">
      <img width="35" src="../assets/svgs/alpha-saturn-logo2.svg">
      <span class="ml-2 mr-5" style="color:#fff;"> Alpha Saturn</span>
    </div>
    <p style="color:#fff; font-weight:600;" class="">© 2020 Alpha Saturn</p>
  </div>
  <div class="p-4 mr-5">
    <a href="" routerLink="/terms-of-service" style="color:#fff; font-weight:600; text-decoration: none;" class="">Terms of Service</a>
  </div>
  <div class="p-4 mr-5">
    <a href="" routerLink="/privacy-policy" style="color:#fff; font-weight:600; text-decoration: none;" class="">Privacy Policy</a>
  </div>
  <div class="p-4 mr-5">
    <a href="" routerLink="/gdpr" style="color:#fff; font-weight:600; text-decoration: none;" class="">GDPR</a>
  </div>

  <div class="p-4 mr-5">
    <a href="mailto:info@alphasaturn.com" style="color:#fff; font-weight:600; text-decoration: none;" class="">info@alphasaturn.com</a>
  </div>

</div>
