<mat-toolbar style="background:#212121;" class="px-5">
  <a class="d-flex align-items-center" style="text-decoration: none;" routerLink="/landing-page">
    <img width="50" src="../assets/svgs/alpha-saturn-logo.svg">
    <span class="ml-2 mr-5" style="color:#fff;"> Alpha Saturn</span>
  </a>

  <input class="mr-auto pl-3 pr-4 search-ticker" placeholder="Search for tickers... " type="text">
  <!-- <button class="mr-3" mat-button color="accent" routerLink="/sign-in">Sign In</button> -->
  <button mat-raised-button color="primary" routerLink="/news">News</button>
</mat-toolbar>
