table {
  width: 100%;
}

.green-badge {
  padding: 0 4px;
  color: #47B877;
  background-color: #EBF9F2;
  border-radius: 6px;
  margin-left: 10px;
}
.red-badge {
  padding: 0 4px;
  color: #DC3854;
  background-color: #FEE6E8;
  border-radius: 6px;
  margin-left: 10px;
}


.green-text {
  color: #47B877;
}

.red-text {
  color: #DC3854;
}
