.top-of-chart-row mat-card {
  margin:0 10px 10px 0;
}

.top-of-chart-row mat-card:first-child {
  margin-left:0;
}

.top-of-chart-row mat-card:last-child {
  margin-right:0;
}

.top-of-chart-row div {
  font-size: 12px;
}

.top-of-chart-row {
  .green-badge {
    padding: 1px 4px 0 0;
    color: #47B877;
    background-color: #EBF9F2;
    border-radius: 6px;
    margin-left: 10px;
  }

  .red-badge {
    padding: 1px 4px 0 0;
    color: #DC3854;
    background-color: #FEE6E8;
    border-radius: 6px;
    margin-left: 10px;
  }

}

.column-alpha {
  .green-badge {
    padding: 0 4px;
    color: #47B877;
    background-color: #EBF9F2;
    border-radius: 6px;
    margin-left: 10px;
  }
  .red-badge {
    padding: 0 4px;
    color: #DC3854;
    background-color: #FEE6E8;
    border-radius: 6px;
    margin-left: 10px;
  }
}

.green-badge {
  padding: 3px 8px;
  color: #47B877;
  background-color: #EBF9F2;
  border-radius: 6px;
  margin-left: 10px;
}

.green-text {
  color: #47B877;
}

.red-badge {
  padding: 3px 8px;
  color: #DC3854;
  background-color: #FEE6E8;
  border-radius: 6px;
  margin-left: 10px;
}

.gray-badge {
  padding: 3px 8px;
  color: #bab9ba;

  border-radius: 6px;
  margin-left: 10px;
}

.red-text {
  color: #DC3854;
}

.yellow-text {
    color: #f7bf27;
  }

.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 8px 0;
  border-radius: 4px;
}


.mat-card-header{
  background-color:#f3f3f3 !important;
  padding:5px 0 !important;
  border-bottom: 1px solid #e7e7eb;
}



.mat-card div{
  padding:0 12px !important;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}

.hide {
    visibility: hidden;
}