.mat-display-1, .mat-typography .mat-display-1 {
  font: 400 34px/40px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 20px 0 12px;
}

.mat-headline {
  margin: 20px 0 12px;
}
